* {
    outline: none;
    border: none;
    position: fixed;
}
html{
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
#button {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: red;
    font-family: Outfit;
    font-weight: 600;
    padding: 40px;
    font-size: 40px;
    text-align: center;    
}

#image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-image: url(the_rock.png);
    margin-top: 300px;
    transition: 2s;
    clip-path: circle(50% at 50% -50%);
}
#all {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#all:hover #image{
    margin-top: 0;
    clip-path: circle(50% at 50% 50%);
}